# Generate code for the specified target and platform.
TARGET = aarch64-elf

# Enables code generation for a specific ARM processor.
# 
# To specify a target processor, use:
#   name[+[no]feature+...]
# 
# Where name specifies the processor and feature is an optional architecture feature
# that might be enabled or disabled by default depending on the architecture or processor.
CPU	= cortex-a53+nosimd
